@model PaginatedList<Car_RentalDb.Models.Rental>

@{
    ViewData["Title"] = "Rentals";
}

<h1>Rentals</h1>
<form asp-action="Index" method="get">

    <div class="form-group">
        <input type="text" name="searchBookingRate" class="form-control" placeholder="Search by BookingRate" value="@ViewData["BookingRate"]" />
        <button type="submit" class="btn btn-primary">search</button>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                BookingRate
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["InsuranceChargeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">InsuranceCharge</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FuelChargeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">FuelCharge</a>
            </th>
            <th>
                CarId
            </th>
            <th>
                CustomerI
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>