@model IEnumerable<Car_RentalDb.Models.Rental>

@{
    ViewData["Title"] = "Rentals";
}

<h1>Rentals</h1>
<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Search by name" />
        <button type="submit" class="btn btn-primary">search</button>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
